*{
    margin: 0%;
    padding: 0%;
    font-family: var(--fontPrimaria) "Arial";
}

:root{
    --corPrimaria:#ba2d2d;
    --corSecundaria: #f2511b; 
    --corLaranja:#f2871b5c; 
    --corpreto:#302727;
    --fontPrimaria: Roboto;
    --fontSecundaria:SUSE; 
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--fontSecundaria) "Trebuchet MS";
}

header, footer{
    width: 100%;
    background-color: var(--corPrimaria);
    color: white;
    padding: 20px 0px;
    display: flex;
    justify-content: space-around;
}
nav{
    display: flex;
    align-items: center;
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
}
nav ul a{ /* aqui modificar o link da lista Menu  */
    color: white; /*aqui modificar a cor fonte da lista Menu  */
    text-decoration: none;/*aqui tira a aparencia de link da lista  */
}
nav ul a:hover{  /* Código para passar o mouse e aparecer o sublinhado */
    text-decoration: underline; 
}
section{  
    background-color: aqua;
    width: 100%;
    padding: 10px 0px;
    flex-direction:column;
    align-items: center;
}
#banner { /* esse comando modificar a estrutura do banner não a imagem em si  */
    height: absolute;
    overflow-y: hidden;
    align-items: start;
     /* background-image: url(/images/banner.jpg); aqui insere a imagem pelo css  
    background-size: cover;
    background-repeat: repeat;
    background-position: center; */  /* - --- - - -  aqui foca em uma determinada parte da imagem tipo: topo, centro ou em baixo  */
}
